.content {
    position: relative;
    margin-right: 0;

    padding: 0;
    min-width: 265px;
    min-height: 500px;
    border: none;
    width: 100%;
}
.addTicket{
    display: flex;
    justify-content: center;
}
.addTicket input {
    height: 35px;
    width: 250px;
    cursor: pointer;
    font-size: 1.2em;
}